*{
    margin: 0;
    font-family: Tahoma, sans-serif;
}

div{
    padding: 30px 0;
    text-align: center;
}

p{
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

span{
    font-weight: bold;
}

.text-blue{
    color: #1d80c0;
}

.text-yellow{
    color: #fff81b;
}

.primeira-secao{
    background-color: #afddfb;
}

.primeira-secao img{
    width: 150px;
}

.primeira-secao p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.primeira-secao a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.segunda-secao img{
    margin-top: 50px;
    padding: 0;
}

.terceira-secao h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

.terceira-secao h2{
    color: #1c81c0;
    font-weight: normal;
    margin-bottom: 15px;
}

.terceira-secao img{
    width: 450px;
}

.quarta-secao{
    background-color: #1c81c0;
}

.quarta-secao h3{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.quarta-secao p{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.quarta-secao ul{
    margin: 40px auto;
    width: 135px;
}

.quarta-secao li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.quinta-secao h3{
    color: #1c81c0;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 15px;
}

.quinta-secao img{
    width: 450px;
    margin-bottom: 10px;
}

.sexta-secao{
    background-color: #1c81c0;
}

.sexta-secao h3{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 15px;
}

.sexta-secao iframe{
    width: 900px;
    height: 200px;
}

.sexta-secao p{
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto;
}

.sexta-secao ul{
    margin: 40px auto;
    width: 210px;
}

.sexta-secao li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
.sexta-secao a{
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
